.container {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  height: 100%;
  // width: 100%;
  .headerContainer {
    display: flex;
    justify-content: center;
  }
  .mainContainer {
    height: calc(100vh - 220px);
    z-index: 0;
    padding-top: 50px;
    padding-left: 70px;
    background-color: inherit;
    overflow-y: auto;
    p {
      color: white;
    }

    .cardContainer {
      border-bottom: 0.1px solid #494b66;
    }
  }
  .footerContainer {
    // width: 100%;

    position: absolute;
    bottom: 5px;
  }
}

.containerLight {
  .mainContainer {
    p {
      color: 3e4656;
    }

    .cardContainer {
      border-bottom: 0.1px solid #edf2fa;
    }
  }
}
