.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #212337;

  .headerContainer {
    display: flex;
    justify-content: center;
  }
  .mainContainer {
    height: calc(100vh - 220px);
    z-index: 0;
    padding-top: 50px;
    padding-left: 70px;
    background-color: inherit;
    overflow-y: auto;
    p {
      color: white;
    }
  }
  .footerContainer {
    width: 100%;

    position: absolute;
    bottom: 5px;
  }
}
