.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #212337;
  .headerContainer {
    display: flex;
    justify-content: center;
  }
  .mainContainer {
    margin-top: 60px;
    .blog {
      margin-left: 40px;
      margin-bottom: 40px;
      a {
        text-decoration: none;
      }
      img {
        height: 200px;
      }
      .title {
        font-size: 30px;
        color: white;
        font-weight: 700;
        height: auto;
        text-decoration: solid;
      }
      .socialButtonreadTime {
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
        .socialButton {
          display: flex;
          img {
            height: 20px;
            width: 20px;
            margin-right: 15px;
          }
        }
        .readTime {
          color: grey;
        }
      }
      .description {
        margin-top: 20px;
        font-size: 16px;
        color: grey;
        display: inline;
      }
    }
  }

  .footerContainer {
    width: 100%;

    position: absolute;
    bottom: 5px;
  }
}

.containerLight {
  background-color: white;

  .mainContainer {
    .blog {
      a {
        text-decoration: none;
      }

      .title {
        color: #3e4656;
      }
      .socialButtonreadTime {
        .socialButton {
        }
        .readTime {
          color: #3e4656;
        }
      }
      .description {
        color: #3e4656;
      }
    }
  }

  .footerContainer {
    width: 100%;

    position: absolute;
    bottom: 5px;
  }
}
