.container {
  display: flex;
  .image {
    img {
      height: 20px;
      width: 20px;
    }
  }
  .stacks {
    display: flex;
    .stackUsed {
      color: white;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}
