.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .headerContainer {
    display: flex;
    justify-content: center;
  }
  .mainContainer {
    height: calc(100vh - 160px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footerContainer {
    width: 100%;

    position: absolute;
    bottom: 5px;
  }
}
