.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: calc(100vw - 180px);
  .image {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "URW Chancery L", cursive;
    font-size: 32px;
    color: white;
    padding: 5px;
  }
  .mainContent {
    //height: 100%;
    //background-color: red;
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p {
    font-size: 40px;
    color: white;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    img {
      height: 48px;
      width: 48px;
    }
  }
}

.containerLight {
  p {
    color: #3e4656;
  }
}
