.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
  //width: calc(100vw - 190px);
  //overflow: visible;

  .image {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "URW Chancery L", cursive;
    font-size: 32px;
    color: white;
    //padding: 5px;
  }
  .mainContent {
    //height: 100%;
    //background-color: red;
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description {
    width: 60%;
    font-size: 22px;
    color: white;
  }

  p {
    font-size: 54px;
    color: white;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    img {
      height: 48px;
      width: 48px;
    }
  }
}

.containerLight {
  p {
    color: #3e4656;
  }
  .image {
    color: #3e4656;
  }
  .description {
    color: #3e4656;
  }
}
