.container {
  display: flex;
  flex-direction: column;

  .headerContainer {
    display: flex;
    justify-content: center;
  }
  .mainContainer {
  }
  .footerContainer {
    width: 100%;

    position: absolute;
    bottom: 5px;
  }
}
