.container {
  width: 100%;
  display: flex;
  background-color: rgba(32, 33, 36, 0.5);
  height: 60px;
  .image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "URW Chancery L", cursive;
    font-size: 32px;
    color: white;
    margin-left: 5%;
  }
  .links {
    flex: 1;
    display: flex;
    height: 60px;
    //width: 600px;
    background-color: inherit;
    align-items: center;
    justify-content: space-evenly;
    .link {
      height: 24px;
      width: 24px;
      font-size: 18px;
      text-decoration: none;
      color: white;
    }
    .themeSwitch {
      cursor: pointer;
      img {
        height: 20px;
        width: 20px;
      }
    }
    .selectedLink {
      height: 24px;
      width: 24px;
      font-size: 18px;
      text-decoration: none;
      color: white;
    }
    .link:hover {
      font-size: 22px;
    }
    .selectedLink:hover {
      font-size: 22px;
    }
  }
}

.containerLight {
  background-color: #edf2fa;
  .image {
    color: #3e4656;
  }
  .links {
    .link {
      color: #3e4656;
    }

    .selectedLink {
      color: #3e4656;
    }
  }
}
