.container {
  width: 100%;
  display: flex;
  .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "URW Chancery L", cursive;
    font-size: 32px;
    color: white;
  }
  .links {
    flex: 1;
    display: flex;
    height: 60px;
    //width: 600px;
    background-color: inherit;
    align-items: center;
    justify-content: space-evenly;
    .link {
      font-size: 18px;
      text-decoration: none;
      color: white;
    }
    .themeSwitch {
      cursor: pointer;
      img {
        height: 20px;
        width: 20px;
      }
    }
    .selectedLink {
      font-size: 18px;
      text-decoration: none;
      color: white;
    }
    .link:hover {
      font-size: 22px;
    }
    .selectedLink:hover {
      font-size: 22px;
    }
  }
}

.containerLight {
  .image {
    color: black;
  }
  .links {
    .link {
      color: black;
    }

    .selectedLink {
      color: black;
    }
  }
}
