.container {
  margin-left: 20%;
  height: 300px;
  width: 450px;
  //background-color: white;
  padding-left: 2%;
  //margin-top: 50px;
  align-self: center;
  border-left: 5px solid #e28380;

  .content {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    //padding: 5px;

    // background-color:bl;
    .companyName {
      padding-left: 10px;
      display: flex;
      align-items: center;
      flex: 1;
      background-color: yellow;
    }
    .descriptionContainer {
      padding-left: 10px;
      flex: 4;
      background-color: pink;
    }
    .date {
      display: flex;
      align-items: center;
      padding-right: 10px;
      justify-content: flex-end;
      flex: 1;
      background-color: red;
    }
  }
}

.container::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #4e8fc9;
  border: 8px solid #252431;
  position: relative;
  top: -50%;
  left: -10%;
  z-index: 1000;
  //left: -11px;
}
