.container {
  .imageContainer {
    display: flex;
    align-items: center;
    img {
      height: 20px;
      width: 20px;
      cursor: pointer;
      margin-left: 10px;
    }
    .mainImage {
      img {
        width: 300px;
        height: 300px;
      }
    }
  }
}
